.buildpath
.project
.settings
.sass-cache
*~
*.save
*.new
*.old
\#*
cache
documents
docs
data
TAGS
config/pwd.json
config*/pwd.json
public/info.php
.idea
public/scss/*.css
public/scss/*.css.map
vendor/*
tests/docs/*
.scannerwork
scripts/library
sonar-project.properties
/tests/phpunit*.phar
composer.lock
config/*.cnf
install/confs/*
install/composer.phar
*.log
public/php_info.php
.vscode/*
/vendor/ccsd/library/vendor/composer/
