.condition-filled {
  color:#468847;
}

.condition-notfilled {
  color:#b94a48;
}

#doublon-msg {
  font-size:18px;
}

#doublon-msg h4 {
  font-size:20px;
  font-size: 1.2em;
}

#recap-citation h4 {
  font-size: 1.2em;
}

.margin-20 {
  margin-top:20px;
}

.margin-top-5 {
  margin-top:5px;
}

.margin-bottom-0 {
  margin-bottom:0px;
}

.margin-0 {
  margin: 0 0 0 0;
}

#chevron-arxiv {
  float:right;
}

#transfert-arxiv-details {
  display:none;
}

#error-zone-arxiv {
  display:none;
}

#transfert-pmc-details {
  display:none;
}

#recap-buttons {
  clear: left;
}

#error-zone-recap {
  margin-top: 20px;
}